/* S */

@media screen and (min-width: 520px) {
    .sidebar-col {
        width: 230px;
    }

    .container-col {
        margin-left: 230px;

    }

    .sidebar-items-start, .sidebar-items-end {
        margin: 20px 20px;
    }
    .list {
        margin-left: 20px;
    }

    .header {
        width: calc(100% - 230px);
    }

    .hidden-xs {
        display: inline ;
    }

    .hidden-xs img {
        width: 80%;
    }

    .sidebar-item span {
        font-size: medium;
        color: #7F8286;

    }


    .sidebar-item:nth-child(3) span {
        color: #d2d2d2;
    }

    .playlist {
        font-size: 16px;        
    }

    .hidden-s {
        display: none;
    }
}

/* MEDIUM */

@media screen and (min-width: 720px) {
    .grid {
        grid-template-columns: repeat(4, 1fr);
    }
    
    .list li {
        width: calc(100% / 5);

    }
}


@media screen and (min-width: 1080px) {
    .grid {
        grid-template-columns: repeat(6, 1fr);
    }

    .list {
        width: 80%;
    }
    
    .list li {
        width: calc(100% / 6);
    }
}



/* TODO: USA DISPLAY FLEX AL POSTO DI GRID E DIVIDI IL 100% WIDTH DEGLI ELEMENTI PER IL NUMERO DI ELEMENTI CHE VUOI PER RIGA */