    /* XS */
@media screen and (max-width: 652px) {
    
/* FOOTER */

    /* Colonna sinistra */
    .col-left {
        flex-grow: 1;
        max-width: 150px; 
    }

    .img-container {
        max-width: 150px; 
    }

    .img-container img {
        width: 25%;
        height: 25%;
    }

    .img-container .caption {
        margin-left: 5px; 
    }

    .img-container .caption h4 {
        font-size: 14px; 
    }

    .img-container .caption span {
        font-size: 12px; 
    }

    .icons {
        row-gap: 3px; 
    }

    .icons i {
        font-size: 18px; 
    }

    /* Colonna centrale */
    .col-center {
        min-width: 200px; 
    }

    .buttons {
        gap: 10px; 
    }

    .buttons i {
        font-size: 20px; 
    }

    .player {
        padding: 5px; 
    }

    .song-info {
        font-size: 10px; 
    }

    .current-time, .total-time {
        font-size: 10px;
    }

    .progress-bar-container {
        height: 3px;
    }

    .progress-bar {
        height: 3px;
    }

    .progress-bar::-webkit-slider-thumb, 
    .progress-bar::-moz-range-thumb {
        width: 8px;
        height: 8px;
    }

    /* Colonna destra */
    .col-right {
        max-width: 150px; 
    }

    .col-right .progress-bar-container {
        width: 60px; 
        height: 3px; 
    }

    .col-right .progress-bar {
        height: 3px; 
    }

    .col-right .progress-bar::-webkit-slider-thumb,
    .col-right .progress-bar::-moz-range-thumb {
        width: 8px; 
        height: 8px;
    }
}


/* S */

@media screen and (min-width: 652px) {
    .sidebar-col {
        width: 230px;
    }

    .container-col {
        margin-left: 230px;

    }

    .sidebar-items-start, .sidebar-items-end {
        margin: 20px 20px;
        width: 90%;
    }
    .list {
        margin-left: 20px;
    }

    .header {
        width: calc(100% - 230px);
    }

    .hidden-xs {
        display: flex ;
    }
    .hidden-xs-2 {
        display:inline-block ;

    }

    .hidden-xs img {
        width: 80%;
    }

    .sidebar-item span {
        font-size: medium;
        color: #7F8286;

    }


    .sidebar-item:nth-child(3) span {
        color: #d2d2d2;
    }

    .playlist {
        font-size: 16px;        
    }

    .hidden-s {
        display: none;
    }
}

/* MEDIUM */

@media screen and (min-width: 720px) {
    .grid {
    gap: calc(10% / 4);
    row-gap: 80px;
    
    }
    .card {
        width: calc(90% / 4);
    }
    
    .list li {
        width: calc(100% / 5);

    }
}


@media screen and (min-width: 1080px) {
    
    .grid {
        gap: calc(10% / 5);
        }

    .card {
        width: calc(90% / 6);
    }

    .list {
        width: 80%;
    }
    
    .list li {
        width: calc(100% / 6);
    }
}



@media screen and (max-height: 350px) {

    .library {
        padding-bottom: 100px;
    }
}