* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family:  Montserrat, 'Helvetica Neue', sans-serif;
    color: white;
}

.wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 80px);
    /* debug */
    background-color: lightcoral;
}

.container-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
    overflow-y: auto;


    /* debug */
    background-color: aqua;
}

.sidebar-col {
    z-index: 999;
    width: calc(100% - 440px);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.sidebar-items-start, .sidebar-items-end {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 10px;
    gap: 10px;
}

.sidebar-item {
    font-size: 25px;
    z-index: 999;
}


.header {
    width: calc(100% - 440px);
    display: flex;
    justify-content: flex-end;
    align-items: center;    
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1;
    object-fit: cover;

    /* debug */
    background-color: black;
}

.button {
    padding: 10px 40px;
    border: 1px solid white;
    border-radius: 30px;
    margin: 20px 10px;
    font-size: small;
}

a.button {
    color: white;
}

.content {
    width: 100%;
}

.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.list>li {
    color: #7F8286;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
}

.text-gray {
    color: #7F8286;
}

.grid {
    display: grid;
    gap: 10px;
    row-gap: 10px;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    text-align: center;

    /* debug */
    background-color: blueviolet;
    padding: 80px;

}

.footer {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    z-index: 999;
    height: 80px;
    width: 100%;

    /* debug */
    background-color: lightgreen;
}